
header{    
    background-position: center center;
    height: 350px;
    background-image: url(../img/bg2.jpg);
}

h1{
    background-color: rgba(248, 248, 248, 75%);
    margin-top: 80px;
    padding-left: 11rem; 
    font-family: Verdana;
    font-weight: bold;
    color: #416618;

}

.navbar{
    background-color: #fd8800;
}

h2{    
    margin: 10px 15px; 
    color:#416618 ;
    border-color: #416618 ;
    border-left:#416618 dotted 3px ;
    font: small-caps;
}

h3{    
    font-weight: bold;
    color: #894f3b;    
}


li{
    list-style-image: url(../img/lemon2.png);
}


td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;    
}

